.primaryTextLight {
    color: #181818;
}

.secondaryTextLight {
    color: #9D9C9C;
}

.primaryTextError {
    color: #c40000;
}

.primaryColor {
    color: #0088ff;
}

.success {
    color: #48A500;
}