.primaryTextLight {
    color: #181818;
}

.secondaryTextLight {
    color: #9D9C9C;
}

.primaryTextError {
    color: #c40000;
}

.primaryColor {
    color: #ff811a;
}

.success {
    color: #48A500;
}