.searchBar-background {
    display: flex;
    background: #FFFFFF;
    border: 0.5px solid #008EF4;
    box-sizing: border-box;
    border-radius: 5px;
    height: 37px;
    flex: 1;
}

.searchBar-input {
    border: none;
    margin: 5px;
    outline: none;
    width: 100%;
}

.button-search {
    background: #008EF4;
    border-radius: 0px 3px 3px 0px;
    width: 37px;
    align-content: flex-end;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.button-search:hover {
    background: #179fff;
}